@import url('https://fonts.googleapis.com/css?family=Rubik|Roboto+Mono');

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Roboto Mono', sans-serif;
  user-select: none;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 55px;
  margin: 0px;
  text-align: left;
}

h2 {
  font-family: 'Rubik', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-family: 'Rubik', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.box {
  text-align: center;
  border: 5px solid #FFFFFF;
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  width: 176.13px;
}

.box.dashed {
  border-style: dashed;
}

.box.long {
  width: 397px;
}

input[type=number] {
  font-family: 'Roboto Mono', sans-serif;
  box-sizing: border-box;
  padding-left: 4px;
  width: 60px;
  height: 18px;
  border: 1.5px solid #FFFFFF;
  border-radius: 4px;
  background: transparent;
  color: #FFFFFF;
}

input[type=number].small {
  width: 45px;
}

input[type=text] {
  font-family: 'Roboto Mono', sans-serif;
  box-sizing: border-box;
  padding-left: 4px;
  width: 140px;
  border: 1.5px solid #FFFFFF;
  border-radius: 4px;
  background: transparent;
  color: #FFFFFF;
}

button {
  vertical-align: middle;
  width: 30px;
  height: 18px;
  line-height: 15px;
  border: 1.5px solid #FFFFFF;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #383838;
}

select {
  font-family: 'Roboto Mono', sans-serif;
  width: 60px;
  height: 18px;
  border: 1.5px solid #FFFFFF;
  border-radius: 4px;
  background: transparent;
  color: #FFFFFF;
}

option {
  color: #000000;
}
